.container {
    display: flex;
    padding: 10px 20px;
    background-color: #eaeaea;
    column-gap: 15px;
    border-bottom: 1px solid #c4c4c4;
}

.option:nth-child(1) {
    flex: 0 0 50%;
    width: 70px;
}

.option:nth-child(2) {
    width: 80px;
}

.option:nth-child(3) {
    width: 75px;
}